
nav.post
    if (prevPost)
        a.prev-post.icon-chevron-left(href=prevPost.url, title="#{prevPost.title} - #{prevPost.date}", data-pjax="post/.main")
    a.icon-chevron-up(href="/", title="Return to Index", data-pjax="index/.main")
    if (nextPost)
        a.next-post.icon-chevron-right(href=nextPost.url, title="#{nextPost.title} - #{nextPost.date}", data-pjax="post/.main")

article.post
    h1= title
    span.date= date

    if (tags)
        ul.tags
            each tag in tags
                li
                    a(href="/tagged/#{tag}", data-pjax="index/.main")= tag

    | !{body}

    if (sharing)
        .sharing
            if (twitterSharing)
                a.socialite.twitter-share(href="http://twitter.com/share", data-text="#{title}", data-url="#{absoluteUrl}", data-via="#{twitterName}", rel="nofollow", target="_blank") Share on Twitter
            if (googleSharing)
                a.socialite.googleplus-one(href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=#{absoluteUrl}", data-href="#{absoluteUrl}", rel="nofollow", target="_blank") Share on Google+
            if (facebookSharing)
                a.socialite.facebook-like(href="http://www.facebook.com/sharer.php?u=#{absoluteUrl}&amp;t=#{title}", data-href="#{absoluteUrl}", data-send="false", rel="nofollow", target="_blank") Share on Facebook
            if (hackerNewsSharing)
                a.socialite.hackernews-share(href="http://news.ycombinator.com/submit", data-url="#{absoluteUrl}", rel="nofollow", target="_blank") Share on Hacker News

    #disqus_thread

    if (sharing)
        script(type="text/javascript")
            if(window.Socialite === undefined){
                var head = document.querySelector('head');
                var s = document.createElement('script');
                s.src = '/public/js/vendor/socialite.js';
                s.onload = function(){
                    Socialite.load(document.querySelector('article.post'));
                }
                head.insertBefore(s, document.querySelector('script'));
            }
            else {
                // Start socialite
                Socialite.load(document.querySelectorAll('article.post')[0]);
            }

    if (comments)
        script(type="text/javascript")
            var disqus_shortname = '#{disqusName}';
            var disqus_identifier = '#{slug}';
            var disqus_url = '#{absoluteUrl}';
            var disqus_title = '#{disqusTitle}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

        noscript
            | Please enable JavaScript to view the
            a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.