extends layout

block body   
    each post in posts
        article
            h2
                a(href= post.url)= post.title
            span.date= post.date

            if (post.tags)
                ul.tags
                    each tag in post.tags
                        li
                            a(href="/tagged/#{tag}")= tag
            if (comments)
                a.comments(href="#{post.disqusUrl}#disqus_thread", data-disqus-identifier=post.slug) 0 Comments

    if (pagination)
        nav.pagination
            if (next)
                a.next(href=next)
                    span.websymbols &lt;
                    | #{nextText}
            if (prev)
                a.prev(href=prev)
                    | #{prevText}
                    span.websymbols &gt;                    

block scripts
    if (comments)
        script(type="text/javascript")
            var disqus_shortname = '#{disqusName}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());