doctype 5
html(lang="en")
    head
        title= blogTitle
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js")

        block head

        link(href="#{themePath}css/theme.css", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700", rel="stylesheet", type="text/css")
        
        script(src="#{themePath}js/vendor/prettify.js")
        script(src="#{themePath}js/vendor/socialite.js")
        script(src="#{themePath}js/site.js")

    body(class=bodyClass)
        .wrapper
            header
                h1
                    a(href="/", data-pjax="index/.main")= blogTitle
                span.desc= blogDesc
                a.rss(href="/rss")
                    span.icon-rss
                    | RSS
                include _searchform

            // :: Start Left Sidebar
            aside.left
                // :: Left Sidebar Content Here
            // :: End Left Sidebar

            .main
                block body

            // :: Start Right Sidebar
            aside.right
                // :: Right Sidebar Content Here
            // :: End Right Sidebar

        // :: Scripts
        //!= renderJs()

        block scripts

        if (analytics)
            script(type="text/javascript")
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '#{analytics}']);
              var domain = '#{analyticsDomain}';
              if (domain.length) { _gaq.push(['_setDomainName', domain]); }
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
